/* ==========================================================================
   Author's custom styles
   ========================================================================== */

p.subtitle {
  font-weight: bold;
  margin-left: 2px;
}

body {
  margin: 30px 0;
}

h1, h2, h3, h4 {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

h2 {
  border-bottom: solid 1px black;
}

h1.name {
  font-size: 24px;
  margin-bottom: 0;
}

ul {
  list-style: none;
}

ul li:before {
  content: "\00BB \0020";
  float: left;
  margin-left: -15px;
}

li {
  margin-bottom: 5px;
}

small > a > img {
  padding-bottom: 5px;
}
